{namespace helper=Tx_MaritReferences_ViewHelpers}
<div id="maritReferences">
	<ul id="referencesMenu">
		<li <helper:active getVar="controller" compareWith="Project" ifTrue="id='activeReferencesMenu'" else="" />><span class="bubbleHeader"></span><f:link.action controller="Project"><f:translate key="tx_maritreferences_view.project_list" /></f:link.action><span class="bubbleFooter"></span></li>
		<li <helper:active getVar="controller" compareWith="Customer" ifTrue="id='activeReferencesMenu'" else="" />><span class="bubbleHeader"></span><f:link.action controller="Customer"><f:translate key="tx_maritreferences_view.customer_list" /></f:link.action><span class="bubbleFooter"></span></li>
		<li <helper:active getVar="controller" compareWith="Technology" ifTrue="id='activeReferencesMenu'" else="" />><span class="bubbleHeader"></span><f:link.action controller="Technology"><f:translate key="tx_maritreferences_view.technology_list" /></f:link.action><span class="bubbleFooter"></span></li>
	</ul>
	<br class="clear" />

	<f:render section="content" />

</div>