<f:if condition="{doAjax}==1">
<f:then>
	<div id="maritReferencesDoublebox">
		<f:link.action action="doublebox" id="doubleboxLink" class="hide"></f:link.action>
	</div>
</f:then>
<f:else>
	<div id="maritReferencesDoublebox">
		<div class="leftReferencebox left">
			<div class="refbox-pic">
				<f:for each="{project.doubleboxImage}" as="doubleboxImage">
					<f:image src="{doubleboxImage.filePath}{doubleboxImage.fileName}" alt="{doubleboxImage.title} - {doubleboxImage.altText}" title="{doubleboxImage.title}" maxWidth="{settings.project.doublebox.image.file.maxW}" maxHeight="{settings.project.doublebox.image.file.maxH}" class="refbox-pic" />
				</f:for>
			</div>
			<div class="referencebox">
				<div class="referencebox-inner">
					<p class="heading">
						<f:link.action action="show" arguments="{project: project}" pageUid="{settings.project.doublebox.showId}">{project.title}</f:link.action>
					</p>
					<div class="hover">
						<p>
							<f:format.nl2br>{project.teaser}</f:format.nl2br>
						</p>
						<p class="right"><f:link.action action="show" arguments="{project: project}" pageUid="{settings.project.doublebox.showId}" class="morelink"><f:translate key="tx_maritreferences_view.read_more" /></f:link.action></p>
					</div>
				</div>
			</div>
		</div>
		<div class="rightReferencebox right">
			<div class="refbox-pic">
				<f:for each="{technology.doubleboxImage}" as="doubleboxImage">
					<f:image src="{doubleboxImage.filePath}{doubleboxImage.fileName}" alt="{doubleboxImage.title} - {doubleboxImage.altText}" title="{doubleboxImage.title}" maxWidth="{settings.project.doublebox.image.file.maxW}" maxHeight="{settings.project.doublebox.image.file.maxH}" class="refbox-pic" />
				</f:for>
			</div>		
			<div class="referencebox">
				<div class="referencebox-inner">
					<p class="heading">
						<f:link.action action="show" controller="Technology" arguments="{technology: technology}" pageUid="{settings.project.doublebox.showId}">{technology.title}</f:link.action>
					</p>
					<div class="hover">
						<f:format.crop maxCharacters="{settings.project.doublebox.technology.description.crop}" append="&nbsp;..."><f:format.html>{technology.description}</f:format.html></f:format.crop>
						<p class="right"><f:link.action action="show" controller="Technology" arguments="{technology: technology}" pageUid="{settings.project.doublebox.showId}" class="morelink"><f:translate key="tx_maritreferences_view.read_more" /></f:link.action></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:else>
</f:if>