@CHARSET "UTF-8";

#maritReferences ul ul,
#maritReferences ol ol,
#maritReferences ul ol,
#maritReferences ol ul {
	margin-left: 5px;
	list-style-position: inside
}
#maritReferences ul {
	list-style-type: disc;
}
#maritReferences ol {
	list-style-type: decimal;
}
#maritReferences ul#referencesMenu {
	list-style-type: none;
}
#maritReferences ul#referencesMenu li {
	float: left;
	margin-right: 2px;
	width: 145px;
}
#maritReferences ul#referencesMenu li a {
	background-color:#ECECEC;
	color: #555555;
	padding: 1px 6px 3px;
	text-decoration: none;
	display: block;
}
#maritReferences ul#referencesMenu li span.bubbleHeader {
	background: transparent url(../CssImages/bubble_grey.png) no-repeat scroll 0 0;
	display: block;
	height: 2px;
}
#maritReferences ul#referencesMenu li span.bubbleFooter {
	background: transparent url(../CssImages/bubble_grey.png) no-repeat scroll 0 -2px;
	display: block;
	height: 10px;
}
#maritReferences ul#referencesMenu li#activeReferencesMenu a,
#maritReferences ul#referencesMenu li:hover a {
	background-color:#99CE08;
	color: #FFFFFF;
}
#maritReferences ul#referencesMenu li#activeReferencesMenu span.bubbleHeader,
#maritReferences ul#referencesMenu li:hover span.bubbleHeader {
	background: transparent url(../CssImages/bubble_green.png) no-repeat scroll 0 0;
	display: block;
	height: 2px;
}
#maritReferences ul#referencesMenu li#activeReferencesMenu span.bubbleFooter,
#maritReferences ul#referencesMenu li:hover span.bubbleFooter {
	background: transparent url(../CssImages/bubble_green.png) no-repeat scroll 0 -2px;
	display: block;
	height: 10px;
}

#maritReferences .projectList .project {
	width: 206px;
	margin-top: 10px;
}
#maritReferences .projectList .project:hover {
	background-color: #F1F1F1;
}
#maritReferences .projectList .project.col1 {
	margin-left: 5px;
	margin-right: 10px;
}
#maritReferences .projectList hr.col1 {
	display: none;
}
#maritReferences .projectList .project.col2 {
	margin-left: 10px;
	margin-right: 5px;
}
#maritReferences .projectList .project .projectListImage {
	border: 1px solid #B4B5B6;
	width: 194px;
	height: 194px;
	padding: 6px;
	text-align: center;
}
#maritReferences .projectList .project .projectTitle,
#maritReferences .projectList .project .projectTitle a {
	color: #64A519;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
#maritReferences .projectList .project .projectTitle {
	margin-top: 5px;
	padding-left: 7px;
	height: 25px;
}
#maritReferences .projectList .project .projectTeaser {
	padding-left: 7px;
}

#maritReferences .customerList .customer {
	margin-top: 10px;
	border-bottom: 1px solid #E5E5E5;
}
#maritReferences .customerList .customer .customerListText {
	margin-left: 170px;
}
#maritReferences .customerList .customer .customerListText .customerName,
#maritReferences .customerList .customer .customerListText .customerName a {
	color: #64A519;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

#maritReferences .technologyList .technology {
	margin-top: 10px;
	border-bottom: 1px solid #E5E5E5;
}
#maritReferences .technologyList .technology .technologyListText {
	margin-left: 170px;
}
#maritReferences .technologyList .technology .technologyListText .technologyName,
#maritReferences .technologyList .technology .technologyListText .technologyName a {
	color: #64A519;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

#maritReferencesSearch .sliderWrap {
	position: relative;
}
#maritReferencesSearch .sliderText {
	width: 45px;
	/*padding-top: 3px;*/
}
#maritReferencesSearch .sliderTextLeft {
	text-align: right;
}
#maritReferencesSearch .sliderTextRight {
	text-align: left;
}
#maritReferencesSearch .slider {
	margin-left: 10px;
	margin-right: 10px;
	width: 106px;
}

#maritReferences .lightboximage_big {
	display: none;
}

#maritReferences #referencesPageBrowser {
	text-align: center;
}
#maritReferences #referencesPageBrowser a,
#maritReferences #referencesPageBrowser span.dots {
	display: inline-block;
	margin-right: 5px;
	width: 16px;
	padding: 4px 0;
	margin-top: 7px;
	text-decoration: none;
	font-weight: normal;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
	background: #AAAAAA;
}
#maritReferences #referencesPageBrowser a.activePage {
	background: #99CE08;
}
#maritReferences #referencesPageBrowser span.dots {
	color: #AAAAAA;
	background: transparent;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
}
#tooltip h3, #tooltip div { margin: 0; }