@CHARSET "UTF-8";
div.clear.col1 {
	display: none;
}

/**
 * Menu with the three item Projects, Customers and Technologies
 */
#maritReferences ul#referencesMenu {
	list-style-type: none;
}
#maritReferences ul#referencesMenu li {
	background: none;
	float: left;
	padding-left: 0px;
	margin-right: 2px;
	width: 145px;
}
#maritReferences ul#referencesMenu li a {
	background-color:#ECECEC;
	color: #555555;
	padding: 6px 14px;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
#maritReferences ul#referencesMenu li span.bubbleHeader {
	background: transparent url(../CssImages/bubble_grey.png) no-repeat scroll 0 0;
	display: block;
	height: 2px;
}
#maritReferences ul#referencesMenu li span.bubbleFooter {
	background: transparent url(../CssImages/bubble_grey.png) no-repeat scroll 0 -2px;
	display: block;
	height: 10px;
}
#maritReferences ul#referencesMenu li#activeReferencesMenu a,
#maritReferences ul#referencesMenu li:hover a {
	background-color:#99CE08;
	color: #FFFFFF;
}
#maritReferences ul#referencesMenu li#activeReferencesMenu span.bubbleHeader,
#maritReferences ul#referencesMenu li:hover span.bubbleHeader {
	background: transparent url(../CssImages/bubble_green.png) no-repeat scroll 0 0;
	display: block;
	height: 2px;
}
#maritReferences ul#referencesMenu li#activeReferencesMenu span.bubbleFooter,
#maritReferences ul#referencesMenu li:hover span.bubbleFooter {
	background: transparent url(../CssImages/bubble_green.png) no-repeat scroll 0 -2px;
	display: block;
	height: 10px;
}

#maritReferences .projectimages {
	margin: 0px 10px 10px 0;
}
/**
 * Project list
 */ 
#maritReferences .projectList .project {
	width: 206px;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 5px; /* jke */
	padding-right: 5px; /* jke */
}
#maritReferences .projectList a {
	font-size: 11px;
	line-height: 12px;
}
#maritReferences .projectList .project:hover {
	background-color: #F1F1F1;
}
#maritReferences .projectList .project.col1 {
	/* margin-left: 5px; /* jke */
	margin-right: 10px;
}
#maritReferences .projectList .project.col2 {
	/* margin-left: 10px; */
	/* margin-right: 5px; */
}
#maritReferences .projectList .project .projectListImage {
	border: 1px solid #B4B5B6;
	width: 194px;
	height: 194px;
	padding: 6px;
	text-align: center;
}
#maritReferences .projectList .project .projectTitle,
#maritReferences .projectList .project .projectTitle a {
	color: #64A519;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
}
#maritReferences .projectList .project .projectTitle {
	margin-top: 12px;
	margin-bottom: 10px;
	padding-left: 7px;
}
#maritReferences .projectList .project .projectTeaser {
	padding-left: 7px;
	font-size: 11px;
}

/**
 * Customer list
 */ 
#maritReferences .customerList .customer {
	margin-top: 10px;
	border-bottom: 1px solid #E5E5E5;
}
#maritReferences .customerList .customer .customerListText {
	margin-left: 170px;
}
#maritReferences .customerList .customer .customerListText .customerName,
#maritReferences .customerList .customer .customerListText .customerName a {
	color: #64A519;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
#maritReferences .customerList .customer .customerListText h2 {
	margin-bottom: 10px;
}

/**
 * Technology list
 */ 
#maritReferences .technologyList .technology {
	margin-top: 10px;
	border-bottom: 1px solid #E5E5E5;
}
#maritReferences .technologyList .technology .technologyListText {
	margin-left: 170px;
}
#maritReferences .technologyList .technology .technologyListText .technologyName,
#maritReferences .technologyList .technology .technologyListText .technologyName a {
	color: #64A519;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

/**
 * Moueseover lightbox/tooltip
 */ 
#maritReferences .lightboximage_big {
	display: none;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
}
#tooltip h3, 
#tooltip div { 
	margin: 0; 
}


/**
 * Searchboxes
 */ 
#maritReferencesSearch .col1,
#maritReferencesSearch .col2 {
	width: 50%;
}
#maritReferencesSearch .sliderWrap {
	position: relative;
}
#maritReferencesSearch .sliderWrap .sliderText {
	color: #64A519;
	font-weight: bold;
	font-size: 10px;
}
#maritReferencesSearch .sliderWrap .sliderValue {
	font-size: 10px;
}
#maritReferencesSearch .sliderWrap .slider {
	margin: 20px 10px 5px 10px;	
	width: 176px;
}
#maritReferencesSearch .sliderWrap .slider.ui-slider-horizontal {
	height: 1px;
}
#maritReferencesSearch .sliderWrap .slider .ui-corner-all {
	-moz-border-radius:0;
}
#maritReferencesSearch .sliderWrap .slider .ui-widget-header {
	background: #818181;
}
#maritReferencesSearch .sliderWrap .slider .ui-slider-handle {
	width: 11px;
	height: 12px;
	margin-left: -5px;
	top: -6px;
}
#maritReferencesSearch .sliderWrap .slider .ui-state-default, 
#maritReferencesSearch .sliderWrap .slider .ui-widget-content .ui-state-default {
	background: url('../CssImages/slider-left.png') repeat-x scroll 50% 50% #99CE08;
	border: none;
}

/**
  * Referenzboxen (doublebox)
  */
#maritReferencesDoublebox {
	margin-top: 37px;
}
#maritReferencesDoublebox a.morelink {
	line-height: 12px;
}
#maritReferencesDoublebox .leftReferencebox {
	height: 196px;
	position: absolute;
}
#maritReferencesDoublebox .rightReferencebox {
	margin-right: 14px;
	height: 196px;
	position: relative;
	right: 0;
}
#maritReferencesDoublebox .refbox-pic {
	background: transparent url(../CssImages/homebox_bg.png) repeat scroll 0 0;
	border: 0 none;
	padding-left: 2px;
	padding-right: 2px;
	width: 340px;
}
#maritReferencesDoublebox .referencebox {
	background: transparent url(../CssImages/referencebox-bottom.png) no-repeat scroll 0 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	min-height: 49px;
	padding: 0 1px 30px;
	position: absolute;
	width: 343px;
}
#maritReferencesDoublebox .referencebox .referencebox-inner {
	bottom: 22px;
	position: absolute;
}
#maritReferencesDoublebox .referencebox .referencebox-inner p {
	font-size: 11px;
	margin: 0;
	padding: 0 0 5px 10px;
	height: auto;
}
#maritReferencesDoublebox .referencebox .referencebox-inner p.heading {
	font-weight: bold;
	padding-left: 10px;
	padding-top: 7px;
	text-transform: uppercase;
}
#maritReferencesDoublebox .referencebox .referencebox-inner p.heading a,
#maritReferencesDoublebox .referencebox .referencebox-inner p.heading a:hover {
	text-decoration: none;
}
#maritReferencesDoublebox .referencebox .referencebox-inner div.hover{
	display: none;
	width: 342px;
}
#maritReferencesDoublebox .leftReferencebox:hover .referencebox .referencebox-inner, 
#maritReferencesDoublebox .rightReferencebox:hover .referencebox .referencebox-inner {
	background: #ffffff;
}
#maritReferencesDoublebox .leftReferencebox:hover .referencebox .referencebox-inner div.hover, 
#maritReferencesDoublebox .rightReferencebox:hover .referencebox .referencebox-inner div.hover {
	display: block;
}
#maritReferencesDoublebox .leftReferencebox:hover .referencebox .referencebox-inner p.heading, 
#maritReferencesDoublebox .rightReferencebox:hover .referencebox .referencebox-inner p.heading,
#maritReferencesDoublebox .leftReferencebox:hover .referencebox .referencebox-inner p.heading a, 
#maritReferencesDoublebox .rightReferencebox:hover .referencebox .referencebox-inner p.heading a {
	color: #64a519;
}

.imageAccordion,
.imageAccordion .imageItems {
	overflow: hidden;
}
.imageAccordion .imageItems .imageItemsInnerWrap {
	padding-top: 10px;
}