{namespace helper=Tx_MaritReferences_ViewHelpers}
<f:layout name="default" />

<f:section name="content">	
	<div class="customerList">
		<f:for each="{customers}" as="customer">
			<div class="customer">
				<div class="customerListImage left">
					<f:if condition="{customer.listImage}">
							<f:link.action action="show" arguments="{customer: customer}">
								<helper:mouseoverLightboxImage src="{customer.listImage.filePath}{customer.listImage.fileName}" alt="{customer.listImage.title} - {customer.listImage.altText}" title="{customer.listImage.title}" maxWidth="{settings.customer.list.image.file.maxW}" maxHeight="{settings.customer.list.image.file.maxH}" lightboxMaxWidth="{settings.customer.list.lightboxImage.file.maxW}" lightboxMaxHeight="{settings.customer.list.lightboxImage.file.maxH}" id="customerImage_{customer.listImage.fileHash}" class="lightboximage" />
							</f:link.action>
						</f:if>
				</div>
				<div class="customerListText">
					<h2 class="customerName"><f:link.action action="show" arguments="{customer: customer}">{customer.title}</f:link.action></h2>
					<f:format.crop maxCharacters="{settings.customer.list.description.crop}" append="&nbsp;..."><f:format.html>{customer.description}</f:format.html></f:format.crop>
				  <p class="right"><f:link.action action="show" arguments="{customer: customer}" class="morelink"><f:translate key="tx_maritreferences_view.read_more" /></f:link.action></p>
					<hr class="clear" />
				</div>
			</div>
			<hr class="clear" />
		</f:for>
	</div>
	<f:if condition="{settings.customer.list.pageBrowser}">
		<f:if condition="{customerCounter} > {settings.customer.list.pageBrowser.maxItems}">
			<div id="referencesPageBrowser">
				<helper:pageBrowser 
					totalCountOfItems="{customerCounter}" 
					maxItemsToDisplay="{settings.customer.list.pageBrowser.maxItems}" 
					range="{settings.customer.list.pageBrowser.range}"
					previousLabel="<f:translate key='tx_maritreferences_view.pageBrowser.previous' />"
					nextLabel="<f:translate key='tx_maritreferences_view.pageBrowser.next' />" 
					template="<f:translate key='tx_maritreferences_view.pageBrowser.page' /> %1$s <f:translate key='tx_maritreferences_view.pageBrowser.outOf' /> %2$s<br class='clear' />%3$s %4$s %5$s"
					onclick="doAjaxPageBrowser($(this)); return false;"
					               
				/>
			</div>
		</f:if>
	</f:if>
</f:section>