{namespace helper=Tx_MaritReferences_ViewHelpers}
<f:layout name="default" />

<f:section name="content">
	<h1><f:translate key="tx_maritreferences_view.technology_list" /></h1>
	<hr />
	<div class="technologylist">
		<f:for each="{technologies}" as="technology">
			<div class="technology">
				<h2 class="technologytitle"><f:link.action action="show" arguments="{technology: technology}">{technology.title}</f:link.action></h2>
				<div class="technologyimages left">
					<f:link.action action="show" arguments="{technology: technology}">
						<f:for each="{technology.images}" as="image">
							<helper:mouseoverLightboxImage src="{image.filePath}{image.fileName}" alt="{image.title} - {image.altText}" title="{image.title}" maxWidth="{settings.technology.list.image.file.maxW}" lightboxMaxWidth="{settings.technology.list.lightboxImage.file.maxW}" lightboxMaxHeight="{settings.technology.list.lightboxImage.file.maxH}" id="technologyImage_{image.fileHash}" class="lightboximage" />
						</f:for>
					</f:link.action>
				</div>
				<f:format.crop maxCharacters="{settings.technology.list.description.crop}" append="&nbsp;..."><f:format.html>{technology.description}</f:format.html></f:format.crop>
		    	<p class="technologymore"><f:link.action action="show" arguments="{technology: technology}"><f:translate key="tx_maritreferences_view.read_more" /></f:link.action></p>
			</div>
			<hr class="clear" />
		</f:for>
	</div>
	<f:if condition="{settings.techology.list.pageBrowser}">
		<f:if condition="{techologyCounter} > {settings.techology.list.pageBrowser.maxItems}">
			<div id="referencesPageBrowser">
				<helper:pageBrowser 
					totalCountOfItems="{techologyCounter}" 
					maxItemsToDisplay="{settings.techology.list.pageBrowser.maxItems}" 
					previousLabel="<f:translate key='tx_maritreferences_view.pageBrowser.previous' />" 
					pageLabel="<f:translate key='tx_maritreferences_view.pageBrowser.page' />" 
					outOfLabel="<f:translate key='tx_maritreferences_view.pageBrowser.outOf' />"
					nextLabel="<f:translate key='tx_maritreferences_view.pageBrowser.next' />" 
					template="<span class=\"pageBrowserPrevious\">%1$s</span> <span class=\"pageBrowserPage\">%2$s %3$s %4$s %5$s</span> <span class=\"pageBrowserNext\">%6$s</span>"
					onclick="doAjaxPageBrowser($(this)); return false;"               
				/>
			</div>
		</f:if>
	</f:if>
</f:section>