{namespace helper=Tx_MaritReferences_ViewHelpers}
<f:layout name="default" />

<f:section name="content">
	<div class="technologyList">
		<f:for each="{technologies}" as="technology">
			<div class="technology">
				<div class="technologyListImage left">
					<f:for each="{technology.listImage}" as="listImage">
						<f:link.action action="show" arguments="{technology: technology}">
							<helper:mouseoverLightboxImage src="{listImage.filePath}{listImage.fileName}" alt="{listImage.title} - {listImage.altText}" title="{listImage.title}" maxWidth="{settings.technology.list.image.file.maxW}" maxHeight="{settings.technology.list.image.file.maxH}" lightboxMaxWidth="{settings.technology.list.lightboxImage.file.maxW}" lightboxMaxHeight="{settings.technology.list.lightboxImage.file.maxH}" id="technologyImage_{listImage.fileHash}" class="lightboximage" />
						</f:link.action>
					</f:for>
				</div>
				<div class="technologyListText">
					<h2 class="technologyName"><f:link.action action="show" arguments="{technology: technology}">{technology.title}</f:link.action></h2>
					<f:format.crop maxCharacters="{settings.technology.list.description.crop}" append="&nbsp;..."><f:format.html>{technology.description}</f:format.html></f:format.crop>
				  <p class="right"><f:link.action action="show" arguments="{technology: technology}" class="morelink"><f:translate key="tx_maritreferences_view.read_more" /></f:link.action></p>
					<hr class="clear" />
				</div>
			</div>
			<hr class="clear" />
		</f:for>
	</div>
	<f:if condition="{settings.technology.list.pageBrowser}">
		<f:if condition="{technologyCounter} > {settings.technology.list.pageBrowser.maxItems}">
			<div id="referencesPageBrowser">
				<helper:pageBrowser 
					totalCountOfItems="{technologyCounter}" 
					maxItemsToDisplay="{settings.technology.list.pageBrowser.maxItems}" 
					range="{settings.technology.list.pageBrowser.range}"
					previousLabel="<f:translate key='tx_maritreferences_view.pageBrowser.previous' />"
					nextLabel="<f:translate key='tx_maritreferences_view.pageBrowser.next' />" 
					template="<f:translate key='tx_maritreferences_view.pageBrowser.page' /> %1$s <f:translate key='tx_maritreferences_view.pageBrowser.outOf' /> %2$s<br class='clear' />%3$s %4$s %5$s"
					onclick="doAjaxPageBrowser($(this)); return false;"
					               
				/>
			</div>
		</f:if>
	</f:if>
</f:section>